<h1>Welcome to Events Website</h1>


<div class="container">
	<% @events.each do |event| %>
	  <div class="well">
		<h4><%= link_to event.title,event_path(event) %></h4>
	    <p><%= event.event_date %></p>
	    <p><%= event.venue %></p>
	  </div>
	<% end %>
</div>