<div class="container">
	<% if @events.count == 0 %>
		<div class="well">
			<h4>There are no events created by you.</h4>
		</div>
	<% end %>
	<% @events.each do |event| %>
	  <div class="well">
		<h4><%= link_to event.title,event_path(event) %></h4>
	    <p><%= event.event_date %></p>
	    <p><%= event.venue %></p>
	  </div>
	<% end %>
</div>